/* COLOR SCHEME */

/* THEME 1 */
//$primary-color: #998264;
//$primary-light: #e3dcd4;
//$background-color: #f2f8ff;
//$secondary-color: #415da3;
//$secondary-light: #a8b5d5;
//$accent-color: #666a86;
//$logo-white: #FFFFFB;
//$logo-creme: #F8E7C1;

/* THEME 2 */
$primary-dark: #420e0e;
$primary-background: #660000;
$primary-accent: #97131F;
$primary-color: #EF4136;
$primary-tint: #f3746c;
$primary-light: #f9bfbc;
$secondary-background: #282624;
$secondary-accent: #56534e;
$secondary-color: #88837a;
$secondary-tint: #e3dbcc;
$secondary-light: #fffffb;

//$background-color: $secondary-light;
//$secondary-color: #726658;
//$secondary-light: #e3dbcc;
//$accent-color: #420e0e;
$logo-white: $secondary-light;
$logo-creme: $secondary-tint;

/* GRADIENTS */
$anchor-gradient: -webkit-linear-gradient(left, $secondary-color 0%, $primary-color 50%);
$header-gradient: -webkit-linear-gradient(bottom, $primary-color, $primary-accent 80%, $primary-color);
$h1-gradient: -webkit-linear-gradient(bottom, $primary-color, #b4a48e 80%, $primary-color);
$font: 'Varela Round', serif;

$error-red: #aa3338;
$error-red-background: #d8a2a4;

$success-green: #048966;
$success-green-background: #8decd3;