/* Loads after primary and only for admin */
@import 'mixins/scheme';

span.status {
  display: inherit;
  width: 1em;
  height: 1em;
  margin: 0.25em auto;
  padding: 0;
  border: 1px solid $accent-color;

  &.true  { background: $success-green; color: $success-green; }
  &.false { background: $error-red;   color: $error-red; }
}

.notice {
  border: 1px solid $success-green;
  border-radius: .4rem;
  background-color: $success-green-background;
  padding: 1em;
  color: $success-green;
}

.error {
  border: 1px solid $error-red;
  border-radius: .4rem;
  background-color: $error-red-background;
  padding: 1em;
  color: $error-red;
}

.field_with_errors {
  label { color: $error-red; }

  input {
    &[type='email'],
    &[type='number'],
    &[type='password'],
    &[type='search'],
    &[type='tel'],
    &[type='text'],
    &[type='url'] {
      border: 1px solid $error-red;
    }
  }

  textarea, select {
    border: 1px solid $error-red;
  }
}

#error-explanation {
  color: $error-red;
  border: 1px solid $error-red;
  border-radius: .4rem;
  background-color: $error-red-background;
  padding: 1em;
  h3 {
    color: $error-red;
    text-fill-color: unset;
    -webkit-text-fill-color: unset;
  }
}