/* Loads after primary and only for admin */
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Varela+Round&display=swap');
@import 'mixins/scheme';
@import 'mixins/svg';

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 0.6em;
}

#void {
  width: 100%;
  height: 100%;
  grid-area: void;
}

#void2 {
  width: 100%;
  height: 100%;
  grid-area: void2;
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(414px, 38.2%) 1fr 0;
  grid-template-rows: 1fr 1em;
  grid-template-areas:
          'void head void2 main'
          'void foot void2 main';
  background-color: $primary-background;
  color: $primary-dark;
  font-family: $font;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.6;
  height: 100vh;
  max-height: 100vh;
  align-items: center;
  justify-items: center;
  overflow:hidden;

  #header {
    color: $secondary-color;
  }
}


.expanded {
  -webkit-animation: expand 1s forwards;
  -o-animation: expand 1s forwards;
  animation: expand 1s forwards;
  will-change: grid-template-columns;
}

@keyframes expand {
  0% {
    grid-template-columns: 1fr minmax(414px, 38.2%) 1fr 0fr;
  }
  100% {
    grid-template-columns: 0fr minmax(414px, 38.2%) 0fr 1fr;
  }
}
//
//@keyframes collapse {
//}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.0rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.6rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.4;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

crud-table {
  headers {
    display: grid;
    p {
      margin-bottom: 0;
      text-align: left;
      font-weight: normal;
      padding: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background: $primary-background;
      color: $secondary-tint;
      border-bottom: 1px solid $secondary-tint;
      border-right: 1px solid $secondary-tint;
    }
  }

  data-segment {
    &:nth-child(odd) {
      background-color: $secondary-tint;
    }
    & p {
      margin-bottom: 0;
      text-align: left;
      font-weight: normal;
      padding: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-bottom: 1px solid $primary-light;
      border-right: 1px solid $primary-light;
    }
  }

  & data data-segment, & headers {
    display: grid;
  }

  & .table-admin-users, data .table-admin-users {
    grid-template-columns: 1fr 1fr 2fr 1fr 2fr;
  }

  & .table-subjects, data .table-subjects {
    grid-template-columns: 0.5fr 2fr 0.7fr 0.7fr 1.5fr;
  }

  & .table-pages, data .table-pages {
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr 0.5fr 2fr;
  }

  & .table-sections, data .table-sections {
    grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 2fr;
  }
}

#table-admin-user {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}

#table-subjects {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}



#table-pages {
  grid-template-columns:
          minmax(40px, 0.2fr)
          minmax(150px, 0.8fr)
          minmax(150px, 2fr)
          minmax(60px, 1fr)
          minmax(60px, 1fr)
          minmax(60px, 1fr)
          minmax(150px, 3fr)
}

#table-sections {
  grid-template-columns:
          minmax(40px, 0.2fr)
          minmax(150px, 0.8fr)
          minmax(150px, 0.8fr)
          minmax(150px, 2fr)
          minmax(150px, 3fr)
}

.inline-form {
  border-bottom: 1px solid $primary-light;
  border-image:
          linear-gradient(to right, rgba(0, 0, 0, 0), $primary-light, rgba(0, 0, 0, 0)) 1;

  & input { margin-top: unset; }

  & label {
    display: inline-block;
    margin-top: unset;
    margin: auto 0.5em .5rem 0.2em;
  }

  & p:hover { color: $secondary-color; }
}

b, strong {
  font-weight: 600;
}

p {
  margin-top: 0;
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 0.3rem solid $primary-accent;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;

  *:last-child {
    margin-bottom: 0;
  }
}

code {
  background: #f4f5f6;
  border-radius: .4rem;
  font-size: 86%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre {
  background: #f4f5f6;
  border-left: 0.3rem solid $primary-color;
  overflow-y: hidden;
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0;
}

fieldset {
  border-width: 0;
  padding: 0;
}

dl, ol, ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;

  dl, ol, ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3.0rem;
  }
}

label, legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

pre > code {
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

.button,
button,
dd,
dt,
li {
  margin-bottom: 1.0rem;
}

blockquote, dl, figure,
form, ol, p, pre, table, ul {
  margin-bottom: 1.5rem;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $secondary-color;
  border-color: $primary-dark;
  color: $primary-dark;
  border: 0.2rem solid;
  border-radius: .4rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 400;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:focus, &:hover {
    background-color: $primary-color;
    border-color: $primary-dark;
    color: $primary-dark;
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: .5;

    &:focus, &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  &.button-outline {
    background-color: transparent;
    color: $primary-color;

    &:hover, &:focus {
      background-color: transparent;
      border-color: $secondary-color;
      color: $secondary-color;
    }

    &[disabled]:focus, &[disabled]:hover {
      border-color: inherit;
      color: $primary-color;
    }
  }

  &.button-clear {
    background-color: transparent;
    border-color: transparent;
    color: $primary-color;

    &:focus, &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $secondary-color;
    }

    &[disabled]:focus, &[disabled]:hover {
      color: $primary-color;
    }
  }
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $primary-accent;
  background-color: $secondary-tint;
  border: 0.1rem solid $primary-dark;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
  margin-bottom: 1.5rem;

  &:focus {
    border-color: $primary-tint;
    outline: 0;
  }
}

select {
  background: image-url('default_select_arrow.svg') no-repeat center left;
  background-color: $primary-color;
  color: $secondary-accent;
  padding-left: 3.0rem;

  &:focus { background-color: $secondary-color; }

  &:hover {
    background: image-url('focus_select_arrow.svg') no-repeat center left;
    background-color: $secondary-color;
  }

}

textarea { min-height: 6.5rem; }

input[type='checkbox'], input[type='radio'] {
  display: inline;
}

#header {
  padding: 1em;
  grid-area: head;
  height: 100%;
  width: 100%;
  background-color:
          #660000;
  display: grid;
  grid-template-columns: 1fr 20em 1fr;
  grid-template-rows: minmax(350px, auto) 115px 1fr;
  grid-template-areas:
          "navigation navigation navigation"
          "space-left animator space-right"
          "space-left introduction space-right";
  align-items: center;
  justify-items: center;

  h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
    font-weight: 600;
    margin-bottom: 1.0rem;
    margin-top: 0;
  }

  a {
    &:hover, &:focus {

      background: linear-gradient(60deg, $secondary-tint, $primary-light 20%, $primary-tint, $secondary-tint);
      color: $secondary-tint;
      background-size: 200% auto;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      animation: shine 2s linear infinite;
      @keyframes shine {
        to {
          background-position: 200% center;
        }
      }
    }
  }

  & #navigation {
    display:none;
    height: 100%;
    width: 100%;
    grid-area: navigation;
    display: grid;
    grid-template-columns: 1fr 135px 1fr;
    grid-template-areas: 'even animator odd';
    transition: 0.3s;

    &:hover {
      & * {
        opacity: 1;
      }
    }

    .navigation {
      &.pages ul li {
        margin-bottom: 0;
        color: $secondary-accent;
      }
      b { color: $primary-color; }
    }
    & ul {
      display: flex;
      width: 100%;
      align-content: space-around;
      flex-direction: column;

      & li {
        list-style-type: none;
      }
    }
  }

  & #introduction {
    grid-area: introduction;
    height: 100%;
    width: 100%;
    text-align:center;
  }

  #name {
    font-size: 1.5em;
    text-transform: uppercase;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    margin-bottom:0;
    border-image:
            linear-gradient(to left, rgba(0, 0, 0, 0), $primary-color, rgba(0, 0, 0, 0)) 1;
  }

  #job-title {
    font-size: 1.2em;
    color:        $secondary-color;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

span.status {
  display: inherit;
  width: 1em;
  height: 1em;
  margin: 0.25em auto;
  padding: 0;
  border: 1px solid $primary-accent;

  &.true  { background: $success-green; color: $success-green; }
  &.false { background: $error-red;   color: $error-red; }
}

.notice {
  border: 1px solid $success-green;
  border-radius: .4rem;
  background-color: $success-green-background;
  padding: 1em;
  color: $success-green;
}



.pages {
  ul { margin:0; }
  ul li{ margin: 0; }
}

#footer {
  position: relative;
  bottom: 0;
  grid-area: foot;
  width: 100%;
  background-color: $primary-background;
  color: $primary-dark;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7em;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;

  & #copyright p {
    margin-bottom: 0;
  }
}

#main {
  background-color: $secondary-light;
  padding: 1em;
  grid-area: main;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: grid;
  -ms-overflow-style: none;
  & #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  a {
    color: $primary-accent;

    &:hover, &:focus {

      background: linear-gradient(60deg, $primary-accent, $secondary-accent 20%, $secondary-color, $primary-accent);
      color: $primary-accent;
      background-size: 200% auto;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      animation: shine 2s linear infinite;
      @keyframes shine {
        to {
          background-position: 200% center;
        }
      }
    }
  }


  h1, h2, h3, h4, h5, h6 {
    color: $secondary-accent;
    font-weight: 600;
    letter-spacing: -.1rem;
    margin-bottom: 1.0rem;
  }

  table {
    border-collapse: collapse;
  }

  th {
    text-align: left;
    font-weight: normal;
    font-size: 1.6rem;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: $primary-background;
    color: $secondary-tint;
    border-bottom: 1px solid $secondary-tint;
    border-right: 1px solid $secondary-tint;
  }

  & th:first-of-type {
    border-left: 1px solid $primary-light;
  }

  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $primary-tint;
    border-bottom: 0.1rem solid $primary-light;

    & a {
      color: $primary-accent;
    }
  }

  tr:nth-child(even) td {
    background: $secondary-tint;
    color: $primary-color;

    & a {
      color: $primary-background;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

#animator {
  grid-area: animator;
  width: 100%;
  height: 100%;
  opacity: 1;

  & label {
    pointer-events: none;
    height: 100%;
  }
}

#even, #odd {
  transition: 0.5s;
  opacity: 0;
  display:flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  border-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0), $primary-color) 1 100%;
}

#even {
  grid-area: even;
  text-align: right;
  border-right: 1px solid $primary-color;

  padding-right: 0.5em;
  & div.pages { padding-right: 1em; }
}

#odd {
  grid-area: odd;
  border-left: 1px solid $primary-color;

  padding-left: 0.5em;
  & div.pages { padding-left: 1em; }
}

#navigation-toggle {
  display: none;

  &:checked + #navigation * {
    opacity: 1;
  }
  &:hover + #navigation * {
    opacity: 1;
  }
}

.label-inline {
  display: inline-block;
  font-weight: 400;
  margin-left: .5rem;
}

.container {
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;

  &.row-no-padding { padding: 0; }
  &.row-no-padding > .column { padding: 0;  }
  &.row-wrap { flex-wrap: wrap; }
  &.row-top { align-items: flex-start; }
  &.row-bottom { align-items: flex-end; }
  &.row-center { align-items: center; }
  &.row-stretch { align-items: stretch; }
  &.row-baseline { align-items: baseline; }
}

.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;

  /* Column offset declarations */
  &.column-offset-10                       { margin-left: 10%; }
  &.column-offset-20                       { margin-left: 20%; }
  &.column-offset-25                       { margin-left: 25%; }
  &.column-offset-33, &.column-offset-34   { margin-left: 33.3333%; }
  &.column-offset-50                       { margin-left: 50%; }
  &.column-offset-66, &.column-offset-67   { margin-left: 66.6666%; }
  &.column-offset-75                       { margin-left: 75%; }
  &.column-offset-80                       { margin-left: 80%; }
  &.column-offset-90                       { margin-left: 90%; }

  /* Column flex/max-width declarations */
  &.column-10 { flex: 0 0 10%; max-width: 10%; }
  &.column-20 { flex: 0 0 20%; max-width: 20%; }
  &.column-25 { flex: 0 0 25%; max-width: 25%; }
  &.column-33, &.column-34 { flex: 0 0 33.3333%; max-width: 33.3333%; }
  &.column-40 { flex: 0 0 40%; max-width: 40%; }
  &.column-50 { flex: 0 0 50%; max-width: 50%; }
  &.column-60 { flex: 0 0 60%; max-width: 60%; }
  &.column-66, &.column-67 { flex: 0 0 66.6666%; max-width: 66.6666%; }
  &.column-75 { flex: 0 0 75%; max-width: 75%; }
  &.column-80 { flex: 0 0 80%; max-width: 80%; }
  &.column-90 { flex: 0 0 90%; max-width: 90%; }

  &.column-top { align-self: flex-start; }
  &.column-bottom { align-self: flex-end; }
  &.column-center { -ms-grid-row-align: center; align-self: center; }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  @import 'mixins/portrait_max_width_320';
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  @import 'mixins/ipad_portrait';
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}