<input type="checkbox" id="navigation-toggle" />
<div id="navigation" >
    <%= render(partial: 'layouts/navigation', locals: {subjects: @subjects, origin: origin} ) %>
</div>
<div id="animator">
  <label for="navigation-toggle">
    <%= render partial: 'layouts/menu_image' %>
  </label>
</div>