<% subjects ||= [] %>
<% evenSubjects, oddSubjects = subjects.partition.with_index { |_,i| i.even? } %>
<div id="even" onmouseenter=makeVisible('odd','even'); onmouseleave=makeHidden('odd','even'); >
  <%= render partial: 'layouts/navigation_subject', locals: {subjects: evenSubjects} %>
</div>
<div id="odd" onmouseenter=makeVisible('odd','even'); onmouseleave=makeHidden('odd','even'); >
  <%= render partial: 'layouts/navigation_subject', locals: {subjects: oddSubjects} %>
</div>


