<% subjects ||= [] %>
<ul>
  <% subjects.each do |s| %>
    <li>
      <%= s.name %>
      <ul>
        <% s.pages.visible.sorted.each do |p| %>
          <li>
            <%=
              link_to_unless_current(
                  p.name,
                  public_show_path(p.permalink)
              )
            %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>